# --- Group 7 Official Mailmap ---

# Xinle(Charlotte) Yu
Charlotte Yu <charlotteyu47@gmail.com> charlotteyu47 <charlotteyu47@gmail.com>

# Lei(Layla) Pei
Layla Pei <ploading1017@gmail.com>

# Kangrui(Ray) Wang
Ray Wang <wangkangrui2019@gmail.com> ray <wangkangrui2019@gmail.com>
Ray Wang <wangkangrui2019@gmail.com> Raykwan24 <kr.wang2025@gmail.com>
Ray Wang <wangkangrui2019@gmail.com> Raykwan24 <wangkangrui2019@gmail.com>
Ray Wang <wangkangrui2019@gmail.com> 绞杀全世界 <kangkang@RuideMacBook-Pro.local>

# Jieqi(Lucca) Zhou
Lucca Zhou <luccazhou22@gmail.com> Lucca Zhou <lucca@Luccas-MacBook-Air.local>
Lucca Zhou <luccazhou22@gmail.com> hikorido <hikorido@gmail.com>
Lucca Zhou <luccazhou22@gmail.com> Lucca Zhou <65543641+hikorido@users.noreply.github.com>

# Alex Cockrean
Alex Cockrean <84676155+ABenC377@users.noreply.github.com>

# Keyu(Yuki) Zhou
Yuki Zhou <zhoukeyu63@gmail.com> zhoukeyu63-netizen <zhoukeyu63@gmail.com>